################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Hello/.vs/Hello/v16
/.vs
/Hello/x64/Debug
